= f.hidden_field :season_id, value: params[:season_id]

.column.lg-6
  = f.label :name
  = f.text_field :name
.column.lg-6
  = f.label :player_type
  = f.text_field :player_type
.column.lg-6
  = f.label :position
  = f.select :position, options_for_select(['Center', 'Left Wing', 'Right Wing', 'Left Defense', 'Right Defense', 'Goalie'], selected: @draftee.nil? ? 'Center' : @draftee.try(:position))
.column.lg-6
  = f.label :potential
  = f.text_field :potential
.column.lg-6
  = f.label :round
  = f.number_field :round
.column.lg-6
  = f.label :year
  = f.number_field :year
