= f.hidden_field :season_id, value: params[:season_id]

= f.label :name
= f.text_field :name

= f.label :position
= f.text_field :position

= f.label :player_type
= f.text_field :player_type

= f.label :potential
= f.text_field :potential

= f.label :round
= f.number_field :round

= f.label :year
= f.number_field :year
