#draft
  .row
    .column.text-center
      = render 'layouts/season_nav', season_id: params[:season_id]

  %section.draft-list
    .row
      .column
        - @draftees.each do |draftee|
          .draftee
            %span.text
              %b Round:
              = draftee.round
            %span.text
              %b Name:
              = link_to draftee.name, edit_franchise_season_draftee_path(id: draftee.id), class: 'name'
            %span.text
              %b Position:
              = draftee.position
            %span.text
              %b Type:
              = draftee.player_type
            %span.text
              %b Potential:
              = draftee.potential

  .row
    .column.text-center
      = link_to 'Add Player', new_franchise_season_draftee_path, class: 'btn'
