= link_to 'Add Draftee', new_franchise_season_draftee_path
= link_to 'Home', root_path

%ul
  - @draftees.each do |draftee|
    %li
      = draftee.name
      = link_to 'Edit Player', edit_franchise_season_draftee_path(id: draftee.id)
      = link_to 'Delete Player', franchise_season_draftee_path(id: draftee.id), method: :delete
