#draft
  .row
    .column.text-center
      = render 'layouts/season_nav', season_id: params[:season_id]

  %section.draft-list
    .row
      .column
        - @draftees.each do |draftee|
          .draftee.text-center
            %p.text.round
              %b #{draftee.round.ordinalize} Round
            %p.text
              = link_to edit_franchise_season_draftee_path(id: draftee.id) do
                %p.text
                  %b= draftee.position
                  -# %b= draftee.draft_position
                  = draftee.name
                  %b= draftee.player_type
                  %i= draftee.potential
                  (#{draftee.draft_position.ordinalize} Overall)
  .row
    .column.text-center
      = link_to 'Add Player', new_franchise_season_draftee_path, class: 'btn'
