#roster
  .row
    .column.text-center
      = render 'layouts/season_nav', season_id: params[:season_id]

  %section
    .row
      .column.text-center
        %h2.heading Roster
        = link_to 'Add Player', new_franchise_season_player_path, class: 'btn'
        = link_to 'Import Last Years Roster', '#', class: 'btn'

  %section.lineup
    .row
      .column.lg-4
        %h3.heading Left Wing
        - @players.each do |player|
          - if player.position == 'Left Wing'
            .player-card
              = link_to player.name, edit_franchise_season_player_path(id: player.id), class: 'text'
              %span.text.bold #{player.player_type} #{player.overall}
      .column.lg-4
        %h3.heading Center
        - @players.each do |player|
          - if player.position == 'Center'
            .player-card
              = link_to player.name, edit_franchise_season_player_path(id: player.id), class: 'text'
              %span.text.bold #{player.player_type} #{player.overall}
      .column.lg-4
        %h3.heading Right Wing
        - @players.each do |player|
          - if player.position == 'Right Wing'
            .player-card
              = link_to player.name, edit_franchise_season_player_path(id: player.id), class: 'text'
              %span.text.bold #{player.player_type} #{player.overall}
    .row
      .column.lg-4
        %h3.heading Left Defense
        - @players.each do |player|
          - if player.position == 'Left Defense'
            .player-card
              = link_to player.name, edit_franchise_season_player_path(id: player.id), class: 'text'
              %span.text.bold #{player.player_type} #{player.overall}
      .column.lg-4
        %h3.heading Right Defense
        - @players.each do |player|
          - if player.position == 'Right Defense'
            .player-card
              = link_to player.name, edit_franchise_season_player_path(id: player.id), class: 'text'
              %span.text.bold #{player.player_type} #{player.overall}
      .column.lg-4
        %h3.heading Goalie
        - @players.each do |player|
          - if player.position == 'Goalie'
            .player-card
              = link_to player.name, edit_franchise_season_player_path(id: player.id), class: 'text'
              %span.text.bold #{player.player_type} #{player.overall}
