.column.lg-6
  = f.label :wins
  = f.number_field :wins, value: @stats.first.wins
.column.lg-6
  = f.label :losses
  = f.number_field :losses, value: @stats.first.losses
.column.lg-6
  = f.label :overtime_losses
  = f.number_field :overtime_losses, value: @stats.first.overtime_losses
.column.lg-6
  = f.label :points
  = f.number_field :points, value: @stats.first.points
.column.lg-6
  = f.label :goal_leader
  = f.text_field :goal_leader, value: @stats.first.goal_leader
.column.lg-6
  = f.label :goal_total
  = f.number_field :goal_total, value: @stats.first.goal_total
.column.lg-6
  = f.label :assist_leader
  = f.text_field :assist_leader, value: @stats.first.assist_leader
.column.lg-6
  = f.label :assist_total
  = f.number_field :assist_total, value: @stats.first.assist_total
.column.lg-6
  = f.label :points_leader
  = f.text_field :points_leader, value: @stats.first.points_leader
.column.lg-6
  = f.label :points_total
  = f.number_field :points_total, value: @stats.first.points_total
.column.lg-6
  = f.label :wins_leader
  = f.text_field :wins_leader, value: @stats.first.wins_leader
.column.lg-6
  = f.label :wins_total
  = f.number_field :wins_total, value: @stats.first.wins_total
.column
  = f.label :results
  = f.select :results, options_for_select(['Missed Playoffs', '1st Round', '2nd Round', 'Conferenece Finals', 'Stanley Cup Finals', 'Stanley Cup Champions!'], selected: @stats.first.results)
.column
  = f.label :notes
  = f.text_area :notes, value: @stats.first.notes, class: 'large-textarea'
