.row
  .column.text-center
    = render 'layouts/season_nav', season_id: params[:season_id]

%section
  .row
    .column.lg-6.text-center
      %h3.heading Season
      %p.text
        %b Wins:
        = @stats.first.wins

      %p.text
        %b Losses:
        = @stats.first.losses

      %p.text
        %b OTL:
        = @stats.first.overtime_losses

      %p.text
        %b Points:
        = @stats.first.points

      %p.text
        %b Results:
        = @stats.first.results

      %p.text
        %b Notes:
        = @stats.first.notes

    .column.lg-6.text-center
      %h3.heading Leaders
      %p.text
        %b Goals:
        #{@stats.first.goal_leader} - #{@stats.first.goal_total}

      %p.text
        %b Assists:
        #{@stats.first.assist_leader} - #{@stats.first.assist_total}

      %p.text
        %b Points:
        #{@stats.first.points_leader} - #{@stats.first.points_total}

      %p.text
        %b Wins:
        #{@stats.first.wins_leader} - #{@stats.first.wins_total}

  .row
    .column.text-center
      = link_to 'Edit Stats', edit_franchise_season_stat_path(id: @stats.first.id), class: 'btn'
