.team-banner{ class: Franchise.find(params[:franchise_id]).name.tr(' ','-').tr('.','').downcase}
  = image_tag get_team_logo(Franchise.find(params[:franchise_id]).name), class: 'logo'
  %h2.heading.md-show= Franchise.find(params[:franchise_id]).name
  .text.bold= Season.find(season_id).year

.season-nav.text-center
  = link_to 'Stats', franchise_season_stats_path(season_id: season_id), class: 'btn black'
  = link_to 'Roster', franchise_season_players_path(season_id: season_id), class: 'btn black'
  = link_to 'Draft', franchise_season_draftees_path(season_id: season_id), class: 'btn black'
  = link_to 'Transaction', franchise_season_transactions_path(season_id: season_id), class: 'btn black'

:javascript
  $('.team-banner').click(function() {
    $('.season-nav').toggleClass('open');
  });
